@media screen and (min-width: 576px) {
  .container {
    max-width: 1120px;
  }
  .section-header {
    max-width: 620px;
  }

  /* header  */
  .hero-section {
    max-width: 100%;
  }
  .hero-text {
    max-width: 55%;
  }
  .bg-mob {
    display: none;
  }
  .bg-desk {
    display: block;
    position: absolute;
    top: 0;
    object-fit: cover;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .btn-container {
    flex-direction: row;
    gap: 1rem;
  }
  /* snippets section  */
  .snippets-content {
    flex-direction: row;
    text-align: start;
    position: relative;
  }
  .snippets-img {
    width: 100%;
    margin-left: -10vw;
  }
  .snippets-features {
    max-width: 35%;
  }
  /* access section  */
  .access-img {
    width: 100%;
    padding-top: 2rem;
  }
  /* worflow section  */
  .workflow-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* company logos */
  .company-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  /* footer  */
  .footer-container {
    max-width: 1120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 3rem;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    gap: 1.5rem;
    margin-right: auto;
  }
  .footer-logo {
    padding-top: 0;
    padding-right: 4rem;
    width: 4rem;
  }
  .social-icons {
    padding-bottom: 0;
  }
}
